{
    "extends": [
      "react-app",
      "prettier",
      "prettier/react",
      "plugin:jsx-a11y/recommended",
      "jsx-a11y"
    ],
    "plugins": ["prettier"],
    "rules": {
      "quotes": ["error", "single"]
    }
}
